map ,l :action NextSplitter<CR>
map ,h :action PrevSplitter<CR>
" Easier copy and paste
vnoremap <C-c> "+y
map <C-V>      "+gP
" treat wrapped lines as different lines
nnoremap j gj
nnoremap k gk
" Enable mouse support
set mouse=a
" Backup files are annoying
set nobackup
set nowb
set noswapfile
" Set 7 lines to the cursor - when moving vertically using j/k
set so=7
" Always show current position
set ruler
set number
" Remove bell
set visualbell
" Better searching
set incsearch
set ignorecase
set smartcase
set wrapscan
" tabs
set expandtab
